<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-[#F7F8FA] border-t-[6px] border-t-[#5A45FF] font-sans">
  <main class="max-w-[620px] m-auto h-screen py-[30px] flex justify-center items-center">
    <div>
      <h1 class="text-[50px] mb-[20px] leading-[50px] text-[#17161A]">It Works!</h1>
      <p class="text-[26px] mb-[40px]">
        Congratulations, you have just created your first AdonisJS app.
      </p>

      <ul class="list-none">
        <li class="mb-[5px] relative pl-[25px] before:[content:'-'] before:absolute before:left-0">
          The route for this page is defined inside <code class="text-[16px] bg-[#e6e2ff]">start/routes.ts</code> file
        </li>

        <li class="mb-[5px] relative pl-[25px] before:[content:'-'] before:absolute before:left-0">
          You can update this page by editing <code class="text-[16px] bg-[#e6e2ff]">resources/views/welcome.edge</code> file
        </li>

        <li class="mb-[5px] relative pl-[25px] before:[content:'-'] before:absolute before:left-0">
          If you run into problems, you can reach us on <a href="https://discord.gg/vDcEjq6?">Discord</a> or the <a href="https://forum.adonisjs.com/">Forum</a>.
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
