@set('method', method ?? 'POST')
@set('action', action ?? request.url())
@set('className', className ?? null)

<form method="post" action="{{ action }}" {{{ className ? `class="${className}"` : '' }}}>
  {{ csrfField() }}
  {{{ await $slots.main() }}}
</form>
