@set('method', method ?? 'POST')
@set('action', action ?? request.url())
@set('className', className ?? null)

<form {{ $props.serializeExcept(['method', 'action', 'className'], { method, action, class: clsx(className)}) }}>
  {{ csrfField() }}
  {{{ await $slots.main() }}}
</form>
