<strong>Password Reset Request</strong><br /><br />
Hello {{ user.name }},<br />
<br />
Please reset your password by clicking the link below:
<br />
<a href="{{ url }}">{{ url }}</a><br />
This link expires in 12 hours.
